@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-full;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-100 absolute w-full h-[1px] right-1/2 top-1/3 -translate-y-1/2;
}
.step {
  @apply w-6 h-6 flex items-center justify-center z-10 relative bg-slate-100 rounded-full;
}
.active .step {
  @apply bg-orange-500;
}
.complete .step {
  @apply bg-orange-500;
}
.complete p {
  @apply text-slate-300;
}
/* .complete:not(:first-child):before,
.active:not(:first-child):before {
	@apply bg-orange-500;
} */

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 18px 16px !important;
  border: none !important;
  border-radius: 12px 0 0 12px !important;
}

.react-tel-input {
  border-radius: 12px !important;
}

input {
  @apply outline-none ring-0 ring-offset-0 focus-visible:ring-0 focus-visible:ring-offset-0;
}

.tab-item {
  @apply data-[state=active]:!bg-transparent data-[state=active]:border-b-[3px] data-[state=active]:border-green-500 data-[state=active]:text-green-500 data-[state=active]:!shadow-none text-xs sm:text-base;
}

.desc-chip {
  @apply md:bg-slate-50 md:py-[5px] font-medium w-fit md:px-2.5 rounded-[30px] uppercase text-sm text-dark_2;
}

.header-3 {
  @apply font-bold text-lg sm:text-xl lg:text-[2rem] md:leading-[40px] text-black;
}

.desc {
  @apply text-xs sm:text-sm lg:text-lg text-dark_2;
}

.heading-bold-20 {
  @apply font-bold text-gray-900 text-sm lg:text-xl;
}

.body-regular-16 {
  @apply text-slate-900 text-xs lg:text-base;
}

.noScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.noScrollBar::-webkit-scrollbar-thumb {
  display: none;
}
